body {
    cursor: url('feuille.png') 32 32 !important, auto;
}


.hero {
    background: url('hero-image.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
}

.hero p {
    font-size: 1.5rem;
}

section {
    padding: 60px 0;
}

.navbar-brand img {
    height: 40px; 
    width: auto; 
    margin-left: 10px;
}


